---
layout: page
---
<p>Practice questions for {{page.title}}.</p>
<ul>
    {% assign module = page.tags[0] | split:'.' %}
    {% capture filename %}{{module}}{% endcapture %}

    {% for q in site.data.questions[filename] %}
        {% if q.module == filename and q.topic == page.tags[1] %}
            <li class="questions-list">
                <div class="flip-container" id="flip" ontouchstart="">
                    <div class="flipper" id="flipper-container">
                      <div class="front">
                          <p class="question">{{ q.question }}</p>
                      </div>
                      {% assign answer = q.answer %}
                      {% if answer contains ".png" %}
                      <!-- <div class="back">
                        {% capture path %}{{ data.images.use-case-diagram | asset_path }}{% endcapture %}
                        <img src="{{ path }}" class="img-responsive"></img>
                      </div>   -->  
                      {% else %}
                      <div class="back">
                        <p class="answer">{{ q.answer }}</p>
                      </div>
                      {% endif %}
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% for js in page.jsarr %}
   <script type="text/javascript">
   {% include {{ js }} %}
   </script>
{% endfor %}